@model IEnumerable<PersonalPortfolio.Models.Repo>
    @{
    ViewData["Title"] = "Personal Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>@ViewData["M"]</h1>
    <div class="container">
        @foreach(var allRepos in Model)
        {
        <div class="container">
            <ul class="list-unstyled">
                <h2>@Html.DisplayFor(modelItem => allRepos.Name) </h2>
                <br />
                <h2><a href="@Html.DisplayFor(model => allRepos.Html_url)">@Html.DisplayFor(model => allRepos.Html_url)</a></h2>
                <br />
                <h4>Description: @Html.DisplayFor(modelItem => allRepos.Description)</h4>
                <hr />
            </ul>
        </div>
        }
    </div>
